body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #333;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
